@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, P{
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}

h1{
    font-weight: 900;
    font-size: 3rem;
}

h2{
    font-weight: 300;
    font-size: 2rem;
}

h3{
    font-weight: 900;
    font-size: 1.5rem;
}

P{
    font-weight: 500;
}

.navbar-brand{
    font-weight: 900;
    font-size: 2rem;
};